.wrapper{


	display: flex;
	flex-direction: row;
}
#myCanvas{

	background-color: #40a4df;
	background-image: url('../images/heather-wiggins-underwater-smaller.jpg');*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.score{

	color: white;
	font-size: 12px;
}
.instructions_wrapper{



}
.button_wrapper{



	width: 100px;
}
h1{


	margin-top: 0px;
}